/* Style sheet for Index */
@charset "utf-8";

@font-face { 
 font-family: Verdana; 
 src: url('Quicksand-Regular.woff') format('woff'), 
 url('Quicksand-Regular.ttf') format('truetype'); 
}
/* HTML and Body */

html { 
 padding-top:1px;
 padding-bottom:1px;
 
} 
body { 
 color: rgb(91, 91, 91); 
 background-color: ivory; 
 font-family: Verdana;
 color: black;
 padding-left:3px;
}

/* Heading */

h1 { 
 font-size: 3em; 
 text-align: center; 
} 
h2 { 
 font-size: 2em; 
 text-align: center; 
}

/* Navigation */	

nav { 
 font-size: 1.1em; 
 font-family:sans-serif;
 color:blue;
 padding-left: 4px;
 text-align: center; 
}

nav > ul {
 padding-left: 4px;
}

/* Footer */

footer{
	border-style: solid;
	border-color:black;
	padding-bottom: 3px;
}

/* Section */
section{
	border-style: solid;
	padding-left: 2px;
}
